.card{
    position: relative;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 50px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
}

.card .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%) blur(1px);
    z-index: 0;
}

.card h3{
    font-size: 1.5rem;
}

.card p{
    font-size: .9rem;
}

.card span{
    font-size: 5rem;
    font-weight: bold;
}

.data,
.no-data{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(245, 245, 245);
    z-index: 1;
}

.no-data img{
    width: 100%;
    max-width: 120px;
    object-fit: cover;
}

.border{
    position: absolute;
    width: 90%;
    height: 92%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 5px;
}

@media screen and (max-width: 380px) {
    .card{
        width: 100%;
    }
}